<div style='width:100;'>
    <div class='title'>Nature photos</div>
    <span ng-show="allPhotosReturned" class='normal-text'>No more photos to load</span>
</div>
<div class='my-container' infinite-scroll='onInfiniteScroll()' sensitivity='60'>
    <img style='cursor:pointer;display:inline-block;' ng-repeat="photo in photos" ng-click="parameter.onClick()" ng-src="{{photo}}"></div>
</div>
<img src='/images/loading-spinner.gif' ng-show='loading' class='loader'>
<ng-gallery images="images" parameter="parameter"></ng-gallery>
